:root{
    --vermelho:#ff0000;
    --preto:#141414;
    --branco:#FEFEFE;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*elemenos base*/
body{
    background: var(--preto);
    font-family:sans-serif;
    color: var(--branco);
    font-size: 16px;

}
.img-logo{
    width: 100px;
    margin-top: 20px;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header nav a{
    text-decoration: none;
    color: var(--branco);
    margin-right: 10px;
}
header nav a:hover{
    color: rgb(182, 181, 181);
}

/*filme principal*/
.filme-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5px;

    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/Séries/banner-greys.png');
    

    height: 600px;
    background-size:cover;
}
.descricao{
    margin-top: 15px;
    margin-bottom: 40px;

}
.titulo{
    margin-top: 50px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botoes{
    margin-left: 50px;
}
.botao-info{
    background-color: rgba(25, 25, 25, 0.5);
    border:none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 14px;

    cursor: pointer;
    border-radius: 5px;
}
.botao-info:hover{
    background-color: rgba(25, 25, 25, 0.308);
}
.botao-info i {
    margin-right: 8px;
}
.botao-assistir{
    background-color:var(--branco);
    border:none;
    color:var(--preto);

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 14px;

    cursor: pointer;
    border-radius: 5px;
}
.botao-assistir:hover{
    background-color: rgba(255, 253, 253, 0.623);
}
.botao-assistir i {
    margin-right: 8px;
}
.container{
    margin-left: 50px;
}
.filme-principal .container{
    width: 70%;
}
.carrosel-serie{
    margin-top: 40px;
    margin-left: 50px;
}
.box-serie{
    height: 100%;
    width: 100%;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
}
.box-serie2{
    height: 100%;
    width: 100%;
    display: block;
    margin-top: 50px;
    border-radius: 5px;
}
.carrosel2{
    margin-top: 50px;
}





@media screen and (max-widht:700px){
    header .container{
        display:flex;
        flex-direction:column;
    }
    .botao{
        margin-top: 50px;
        width: 400px;
    }
  
    .filme-principal{
        width: 50%;
    }
}
@media screen and (min-widht:772px){
    .descricao{
        width: 90%;
    }
   
}
@media (max-widht:900px) {
    .filme-principal{
        display: none;
     }
}