@media screen and (max-widht:700px){
    header .container{
        display:flex;
        flex-direction:column;
    }
    .botao{
        margin-top: 50px;
        width: 400px;
    }
  
    .filme-principal{
        width: 50%;
    }
}
@media screen and (min-widht:772px){
    .descricao{
        width: 90%;
    }
   
}
@media (max-widht:900px) {
    .filme-principal{
        display: none;
     }
}